<div dq-header></div>

<div class="container">
    <h2>How To Create Quiz:</h2>
    <ol>
        <li>Create results: theses are the final characters, traits, or attributes the quiz take can get</li>
        <li>Create Questions: write each question that is included in the quiz</li>
        <li>For each question add answers: these answers will have one (or multiple) results that they give towards and
            a weight that they add to that result's final score.
        </li>
        <li>Publish quiz: Once you're done creating a new quiz, publish it so others can take it!</li>
    </ol>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li><a ng-click="model.createQuiz(model.quiz)">Start</span></a></li>
            </ul>
        </nav>
    </div>
</nav>