<div class="container">
    Complete quiz
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#/createQuiz/{{model.qid}}/question"><span aria-hidden="true">&larr;</span> Questions</a></li>
                <!--<li><a href="#/createQuiz/{{model.qid}}/question/{{model.qnid}}">Preview</a></li>-->
                <li class="next"><a ng-click="model.publishQuiz()">Publish</a></li>
            </ul>
        </nav>
    </div>
</nav>