<div class="container">
    <h5>{{model.question.text}}</h5>
    <div id="results" class="form-check" ng-repeat="answer in model.answers">
        <div class="radio">
            <label><input
                    name="answers"
                    type="radio"
                    value="{{answer._id}}"
                    ng-model="model.selectedAnswer"> {{answer.text}}
            </label>
        </div>
    </div>
    <br>
    <button class="btn btn-primary btn-s btn-block"
            ng-click="model.answerQuestion(model.record._id, model.selectedAnswer)">
        Next Question</button>
</div>