<div dq-header></div>

<div class="container">
    <div class="form-group">
        <h2>Result Info</h2>
        <label for="name">Name</label>
        <input ng-model="model.result.name"
               type="text" class="form-control" id="name"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="url">Image</label>
        <input ng-model="model.result.imageUrl"
               type="url" class="form-control" id="url"
               placeholder="Image Url">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="model.result.description"
                  class="form-control" rows="8"
                  id="description"
                  placeholder="Description"></textarea>
    </div>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a ng-click="model.removeResult(model.result)">Delete</a></li>
                <li class="next"><a ng-click="model.updateResult(model.result)">Update</span></a></li>
            </ul>
        </nav>
    </div>
</nav>