<div dq-header></div>

<div class="container">
    {{model.quiz.name}}
    <ul class="media-list" ng-repeat="result in model.results">
        <li class="media">
            <div class="media-left media-top">
                <a href="#">
                    <img class="media-object img-rounded" ng-src="{{result.imageUrl}}" width="140" height="140"
                         alt="{{result.name}}">
                </a>
            </div>
            <div class="media-body">
                <a href="#/createQuiz/{{model.qid}}/result/{{result._id}}"><h4 class="media-heading">{{result.name}}</h4></a>
                {{result.description}}
            </div>
        </li>
    </ul>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#/createQuiz/{{model.qid}}">Previous</a></li>
                <li><a href="#/createQuiz/{{model.qid}}/result/new">Create</span></a></li>
                <li class="next"><a href="#/createQuiz/{{model.qid}}/question">Next</a></li>
            </ul>
        </nav>
    </div>
</nav>