<div dq-header></div>

<div class="container">
    <h2>Results</h2>
    <h5>Tap create to add a new result</h5>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="result in model.results" href="#/createQuiz/{{model.qid}}/result/{{result._id}}">
            <div class="media" >
                <div class="media-left media-top">
                    <img class="media-object img-rounded" ng-src="{{result.imageUrl}}" width="140" height="140"
                         alt="{{result.name}}">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{result.name}}</h4>
                    {{result.description}}
                </div>
            </div>
        </a>
    </div>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#/createQuiz/{{model.qid}}">Previous</a></li>
                <li><a href="#/createQuiz/{{model.qid}}/result/new">Create</span></a></li>
                <li class="next"><a href="#/createQuiz/{{model.qid}}/question">Next</a></li>
            </ul>
        </nav>
    </div>
</nav>