<nav class="navbar navbar-inverse navbar-dylquiz navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.quiz.name"
               type="text" class="form-control" id="name"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="model.quiz.description"
                  class="form-control" rows="8"
                  id="description"
                  placeholder="Description"></textarea>
    </div>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="next"><a ng-click="model.createQuiz(model.quiz)">Next</span></a></li>
            </ul>
        </nav>
    </div>
</nav>