<div dq-header></div>
<div class="container">
    <h2>Basic Info</h2>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.quiz.name"
               type="text" class="form-control" id="name"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="url">Image</label>
        <input ng-model="model.quiz.imageUrl"
               type="url" class="form-control" id="url"
               placeholder="Image Url">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="model.quiz.description"
                  class="form-control" rows="8"
                  id="description"
                  placeholder="Description"></textarea>
    </div>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a ng-click="model.deleteQuiz(model.quiz)">Delete</a></li>
                <li class="next"><a ng-click="model.updateQuiz(model.quiz)">Results <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
</nav>