<div dq-header></div>

<div class="container">
    <div class="panel panel-default" >
        <div class="panel-heading">Users
            <a href="#/admin/createUser" class="btn btn-primary btn-xs glyphicon glyphicon-plus pull-right"></a>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in model.users">
                <div class="pull-right">
                    <a ng-click="model.deleteUser(user)" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></a>
                    <a href="#/admin/{{user._id}}" class="btn btn-default btn-xs glyphicon glyphicon-cog"></a>
                </div>
                {{user._id}} - {{user.username}}
            </li>
        </ul>
    </div>

    <div class="panel panel-default" >
        <div class="panel-heading">Quizzes</div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="quiz in model.quizzes">
                <div class="pull-right">
                    <a ng-click="model.deleteQuiz(quiz)" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></a>
                    <a href="#/createQuiz/{{quiz._id}}" class="btn btn-default btn-xs glyphicon glyphicon-cog"></a>
                </div>
                - {{quiz.name}}
            </li>
        </ul>
    </div>
</div>