<div dq-header></div>

<div class="container">
    <button ng-click="model.tappedFollowButton(model.user._id)"
            ng-hide="model.currentUser._id == model.user._id"
            class="btn btn-default btn-s pull-right">{{model.buddyButtonText()}}</button>
    <div class="media">
        <div>
            <img class="media-object img-rounded" ng-src="{{model.user.imageUrl}}" width="140"
                 height="140"
                 alt="{{model.user.username}}">
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{model.user.username}}</h2>
        </div>
    </div>
    <hr>
    <div class="list-group">
        <div ng-repeat="record in model.records">
            <h3 class="media-heading">{{record._quiz.name}}</h3>
            <a class="list-group-item"  href="#/record/{{record._id}}">
                <div class="media">
                    <div >
                        <img class="media-object img-rounded" ng-src="{{record._result.imageUrl}}" width="140" height="140"
                             alt="{{record._result.name}}">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{record._result.name}}</h4>
                        {{record._result.description}}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="panel panel-default" ng-show="model.following.length">
        <div class="panel-heading">Following</div>
        <div class="list-group">
            <a class="list-group-item" ng-repeat="follow in model.following" href="#/user/{{follow._id}}">
                {{follow.username}}
            </a>
        </div>
    </div>
</div>