<div dq-header></div>

<div class="container">
    <h2>{{model.user.username}}</h2>
    <button class="btn btn-default"
            ng-click="model.sendBuddyRequest(model.user._id)"
            ng-hide="model.currentUser._id == model.user._id">Add Buddy</button>
    <div class="list-group">
        <div ng-repeat="record in model.records">
            <h3 class="media-heading">{{record._quiz.name}}</h3>
            <a class="list-group-item"  href="#/record/{{record._id}}">
                <div class="media">
                    <div >
                        <img class="media-object img-rounded" ng-src="{{record._result.imageUrl}}" width="140" height="140"
                             alt="{{record._result.name}}">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{record._result.name}}</h4>
                        {{record._result.description}}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="panel panel-default" ng-show="model.buddies.length">
        <div class="panel-heading">Buddies</div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="buddy in model.buddies">
                {{buddy._id}}
            </li>
        </ul>
    </div>
</div>