<div dq-header></div>

<div class="container">
    <h2>Questions</h2>
    <h5>Tap add question to create a new question</h5>
    <div class="list-group">
        <a ng-repeat="question in model.questions track by $index" href="#/createQuiz/{{model.qid}}/question/{{question._id}}"
           class="list-group-item">
            Q{{$index + 1}}. {{question.text}}
        </a>
        <a href="#/createQuiz/{{model.qid}}/question/new" class="list-group-item active">Add Question <span class="glyphicon glyphicon-plus pull-right"></span></a>
    </div>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#/createQuiz/{{model.qid}}/result"><span aria-hidden="true">&larr;</span> Results</a></li>
                <li class="next"><a href="#/createQuiz/{{model.qid}}/complete">Publish <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
</nav>