<div dq-header></div>
<div class="container">
    <h2>Question Details</h2>
    <h5>First write the question, then tap add answer to start making answers</h5>
    <div class="form-group">
        <label for="text">Question</label>
        <textarea ng-model="model.question.text"
                  class="form-control" rows="6"
                  id="text"
                  placeholder="Add a question"></textarea>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">Answers
                <a ng-click="model.addAnswer(model.question)"
                   class="btn btn-primary btn-xs glyphicon glyphicon-plus pull-right"></a>
            </div>
            <div id="answers" class="list-group">
                <a ng-repeat="answer in model.answers"
                   href="#/createQuiz/{{model.qid}}/question/{{model.qnid}}/answer/{{answer._id}}"
                   class="list-group-item">
                    {{answer.text}} <span class="pull-right">{{model.displayResults(answer)}}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a ng-click="model.removeQuestion(model.question)">Delete</a></li>
                <li><a href="#/createQuiz/{{model.qid}}/question">Cancel</a></li>
                <li class="next"><a ng-click="model.updateQuestion(model.question)">Update</span></a></li>
            </ul>
        </nav>
    </div>
</nav>