<div dq-header></div>

<div class="container">
    <ul class="media-list" ng-repeat="question in model.questions">
        <li class="media" href="#/user/123/quiz/new">
            <div class="media-left media-top">
                <a href="#">
                    <img class="media-object img-rounded" ng-src="{{question.url}}" width="140" height="140"
                         alt="{{question.name}}">
                </a>
            </div>
            <div class="media-body">
                <a href="#/createQuiz/{{model.qid}}/question/{{question._id}}"><h4 class="media-heading">{{question.text}}</h4></a>
            </div>
        </li>
    </ul>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#/createQuiz/{{model.qid}}/result">Previous</a></li>
                <li><a href="#/createQuiz/{{model.qid}}/question/new">Create</span></a></li>
                <li class="next"><a href="#/createQuiz/{{model.qid}}/complete">Next</a></li>
            </ul>
        </nav>
    </div>
</nav>