<div dq-header></div>

<div class="container">
    <h2>{{model.user.username}}</h2>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="record in model.records" href="#/record/{{record._id}}">
            <div class="media">

                <div class="media-left media-top">
                    <img class="media-object img-rounded" ng-src="{{record._result.imageUrl}}" width="140" height="140"
                         alt="{{record._result.name}}">
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{record._quiz.name}}</h3>
                    <h4 class="media-heading">{{record._result.name}}</h4>
                    {{record._result.description}}
                </div>
            </div>
        </a>
    </div>
</div>