<div class="container">
    <div class="form-group">
        <h3>{{model.question.text}}</h3>
        <h5>Write the answer, choose its weight, then select the result(s) it applies to</h5>
        <label for="text">Answer</label>
        <textarea ng-model="model.answer.text"
                  class="form-control" rows="8"
                  id="text"
                  placeholder="Write an answer"></textarea>
        <label for="weight">Weight</label>
        <input ng-model="model.answer.weight" class="form-control"  type="number"
               id="weight" min="1" max="5" placeholder="1">
        <label for="results">Results</label>
        <div id="results" class="form-check" ng-repeat="result in model.quizResults">
            <div class="checkbox">
                <label><input
                        type="checkbox"
                        value="{{result}}"
                        ng-checked = "model.resultIndex(model.answer, result) > -1"
                        ng-click="model.toggleSelection(result)"> {{result.name}}
                </label>
            </div>
        </div>
    </div>
</div>

<nav id="footer" class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a ng-click="model.removeAnswer(model.answer)">Delete</a></li>
                <li><a href="#/createQuiz/{{model.qid}}/question/{{model.qnid}}">Cancel</a></li>
                <li class="next"><a ng-click="model.updateAnswer(model.answer)">Update</a></li>
            </ul>
        </nav>
    </div>
</nav>